@import "../../Assets/Theme/_var.scss";

.dashboard {
  &__top {
    background-color: $primary;
    padding: 3.2rem 2rem 2rem;
    border-radius: 2rem;
    margin-bottom: 2rem;
    @media (max-width: 1679px) {
      padding-top: 2.5rem;
    }

    @media (max-width: 1439px) {
      padding: 2rem 1.5rem;
    }
    @media (max-width: 767px) {
      border-radius: 1rem;
      margin-bottom: 1.5rem;
    }

    > h5 {
      color: $white;
      font-size: 2.2rem;
      font-weight: 700;
      margin-bottom: 2.2rem;
      @media (max-width: 1679px) {
        font-size: 2rem;
        margin-bottom: 1.8rem;
      }
    }
  }
}

.dashboard-card {
  background: linear-gradient(
    180deg,
    #fdfdfd 33.45%,
    rgba(255, 255, 255, 0.79) 119.09%
  );
  border-radius: 1rem;
  padding: 2.5rem;
  text-align: center;
  height: 100%;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.1);

  @media (max-width: 1679px) {
    padding: 2rem;
  }

  @media (max-width: 767px) {
    padding: 1.5rem;
  }

  h6 {
    font-weight: 500;
    color: $secondary4;
    line-height: 1.2;
    margin-bottom: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    @media (max-width: 767px) {
      margin-bottom: 0.75rem;
    }
  }

  h5 {
    font-size: 2.2rem;
    font-weight: 700;
    @media (max-width: 767px) {
      font-size: 1.8rem;
    }
  }
}

