@import "../../../Assets/Theme/_var.scss";

.user-info {
  flex-shrink: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: $secondary4;
  font-weight: 700;
  transition: all 200ms ease-in-out;
  font-size: 1.6rem;

  @media (max-width: 1679px) {
    font-size: 1.4rem;
  }

  span {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 4.4rem;
    height: 4.4rem;
    margin-right: 1.2rem;
    border: 0.1rem solid $borderClr;
    background: $lightGray2;
  }

  &:hover {
    color: $black;
  }
}
