@import "../../../Assets/Theme/_var.scss";

.modal-backdrop.show {
  background: $black;
  opacity: 0.6;
}

.custom-modal {
  .modal-dialog {
    padding: 0 1rem;
    max-width: 53.5rem;

    @media (max-width: 767px) {
      max-width: 40rem;
      margin: 0 auto;
    }
  }
  .modal-content {
    border-radius: 2rem;
    background: $white;
    backdrop-filter: blur(22px);
    padding: 4.4rem 3.6rem;

    @media (max-width: 767px) {
      padding: 2.5rem 2rem;
    }
  }

  .modal-header {
    padding: 0;
    border: 0;
    position: relative;

    .modal-title {
      font-size: 2.6rem;
      font-weight: 700;
      line-height: 0.7;

      @media (max-width: 1679px) {
        font-size: 2.2rem;
      }

      @media (max-width: 1199px) {
        font-size: 1.8rem;
      }
    }

    .btn-close {
      width: 1.4rem;
      height: 1.4rem;
      padding: 0;
      opacity: 1;
      background-image: url(../../../Assets/Icon/close.svg);
      background-size: 100%;

      @media (max-width: 767px) {
        width: 1rem;
        height: 1rem;
      }

      &:focus {
        box-shadow: none;
      }
    }
  }
  .modal-body {
    padding: 2rem 0 0;
  }

  &__btn {
    .custom-button__btn {
      min-width: 24.8rem;

      @media (max-width: 1679px) {
        min-width: 20rem;
      }
      @media (max-width: 767px) {
        min-width: 13rem;
      }
    }
  }
}
