@import "../../../../Assets/Theme/_var.scss";

.verify-modal {
  .label {
    color: $secondary5;
  }
  &__resend {
    text-align: center;
    margin-top: 2.4rem;
    margin-bottom: -1rem;

    @media (max-width: 1679px) {
      margin-top: 1.5rem;
      margin-bottom: 0;
    }

    @media (max-width: 767px) {
      margin-top: 1rem;
      margin-bottom: 0;
    }

    span {
      cursor: pointer;
      font-size: 1.8rem;
      line-height: 1;
      font-weight: 600;
      color: $secondary4;

      @media (max-width: 1679px) {
        font-size: 1.6rem;
      }
      @media (max-width: 767px) {
        font-size: 1.3rem;
      }
    }
  }
}
